body {
  height:665px;
  background-image: url("https://www.teahub.io/photos/full/125-1253801_website-background..png") ;
  background-size: 100rem; 
}

            #divTextos {
              display: flex;
              align-items: center;
              justify-content: center;
            }


            #thirdDiv {
              height: 600px;
              width: 500px ;
              padding: 50px;
              background-color: rgb(201, 243, 118);  
              border: 2.5px solid rgb(255, 117, 117)
            }


            #spanId {
                font-size: 18px;
                margin: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }



            